NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

BILLPLZ_API_URL=https://www.billplz-sandbox.com/api/v3
BILLPLZ_API_KEY=
BILLPLZ_COLLECTION_ID=
BILLPLZ_X_SIGNATURE_KEY=

EASYPARCEL_API_KEY=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_BASE_URL=https://api.mailgun.net/v3
MAILGUN_FROM_EMAIL=
MAILGUN_FROM_NAME=Anthena

WEBHOOK_BASE_URL=http://localhost:3000
REDIRECT_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
